* ----------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 1346px) {
    .main-div {
      width: 100%;
    }
}

  
@media screen and (max-width: 1024px) {

.menuList{
    font-size: 15px;
}

.button, .Lets-talk{
    padding: 8px 12px;  
    font-weight: 500;
    font-size: 15px;
}

.introHeading{
    font-size: 40px;
}

.introDescription{
    font-size: 15px;
    width: 400px;
}

.displayInfoHeading{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.displayInfoStats{
    font-size: 18px;
}

.numericaldata{
    font-size: 35px;
}

.displayInfoImage img{
    width: 800px;
    
}

.moreInfoHead{
    width: 50%;
    font-size: 35px;
}

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    font-size: 30px;
    font-weight: 700;
}

.effectiveDesignInfo, .marketingStrategyInfo, .QuoteMarketingInfo{
    font-size: 15px;
    line-height: 1.5;
}

.cardOne-left, .cardThree-left{
    margin-right: 50px;
}

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    width: 300px;
}

.CreativeTeamHead-rightSection{
    font-size: 17px;
}

.portfolio_Name{
    font-size: 15px;
}

.portfolio_Description{
    font-size: 15px;}

}