* ----------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 1346px) {
    .main-div {
      width: 100%;
    }
}

  
@media screen and (max-width: 1024px) {

.menuList{
    font-size: 15px;
}

.button, .Lets-talk{
    padding: 8px 12px;  
    font-weight: 500;
    font-size: 15px;
}

.introHeading{
    font-size: 40px;
}

.introDescription{
    font-size: 15px;
    width: 400px;
}

.displayInfoHeading{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.displayInfoStats{
    font-size: 18px;
}

.numericaldata{
    font-size: 35px;
}

.displayInfoImage img{
    width: 800px;
    
}

.moreInfoHead{
    width: 50%;
    font-size: 35px;
}

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    font-size: 30px;
    font-weight: 700;
}

.effectiveDesignInfo, .marketingStrategyInfo, .QuoteMarketingInfo{
    font-size: 15px;
    line-height: 1.5;
}

.cardOne-left, .cardThree-left{
    margin-right: 50px;
}

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    width: 300px;
}

.CreativeTeamHead-rightSection{
    font-size: 17px;
}

.portfolio_Name{
    font-size: 15px;
}

.portfolio_Description{
    font-size: 15px;
}

}



@media screen and (max-width: 768px) {

.introInfo{
    flex-direction: column;
 }

.introSection{
    height: auto;
    width: 850px;
    background-color: #636C79;
}

.IntroleftSection img{
    width: 500px;
    object-fit:cover;
    margin-top: 0;
}

.displayInfoImage img{
    width: 700px;
}

.cardOne-right img{
    width: 500px;   
}

.IntrorightSection{
    width: 700px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 60px;
}

.introHeading{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.moreInfo{
width: 768px;
}

.displayInfo{
    display: flex;
    align-items: center;
    width: 768px;
    margin-left: 30px;
}
.moreInfoHead{
    font-size: 30px;
    }

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    width: 90%;
    font-size: 25px;
    }
.effectiveDesignInfo, .marketingStrategyInfo, .QuoteMarketingInfo{
    width: 100%;
    font-size: 15px;
}

.cardOne-right img{
    right: 100px;
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: -300px;
}

.cardTwo-left img{
    left: 100px;
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.cardThree-right img{
    right: 100px;
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: -250px;
}

.cardOne{
    width: 768px;
}

.portfolio_Image img{
    width:300px;
}

.CreativeTeam{
    width: auto;
}

.CreativeTeamPortfolio{
    width: auto;
    flex-direction: column ;
    align-items: center;
}

.portfolio_One, .portfolio_Two{
    margin-bottom: 50px;
}
}

@media screen and (max-width: 576px) {

}
