@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.introSection{
    background-color: #636C79;
}

.nav{
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menuItem{
    width: 400px;
    display: flex;
    text-align: right;
}

.menuList{
    margin: 0 -20px;
}

.menuList{
    width: 700px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.button{
    padding: 10px 15px;
    border: solid 0.0001em rgba(255, 255, 255, 0.247);
    background-color: #636C79;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


.introInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IntrorightSection{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}    


.IntroleftSection img{
    width: 75%;
    height: 40em;
    padding: 0px;
    object-fit: cover;
}

.displayInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.displayInfoStats{
    width: 80%;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.displayInfoImage img{
    width: 800px;
}

.moreInfo{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.mooreInfoHead{
    margin: 50px 0;
}

.card1, .card2, .card3 {
display: flex;
align-items: center;
}

.effectiveDesign{
    width: 80%;
}

.cardOne-right img{
    width: 500px;
}

.cardTwo-left img{
    width: 500px;
}

.cardThree-right img{
    width: 500px;
}

.card1, .card2, .card3{
    display: flex;
    margin: 50px 150px;
    
}

.CreativeTeam{
    display: flex;
    flex-direction: column;
}

.CreativeTeamPortfolio{
    display: flex;
}

.portfolio_Image img{
    width:500px
}

.footer{
    background-color: #10181D;
    color: #fff;
}

.UpperInfo{
    display: flex;
    justify-content: space-between;
}

.socialLinks{
    display: flex;
}

.socialLinks img{
    width: 50px;
    border: solid 1px #fff;
    background-color: #6e818f;
    
    
}


.lowerInfo{
    display: flex;
    justify-content: space-around;
}

