*{
    padding: 0;
    margin: 0;
}

.introSection{
    background-color: #636C79;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.menuList{
    width: 700px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.introInfo{
    display: flex;
    justify-content: space-around;
}

.IntroleftSection img{
    width: 500px;
}

.displayInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayInfoImage img{
    width: 800px;
}

.moreInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardOne-right img{
    width: 500px;
}

.cardTwo-left img{
    width: 500px;
}

.cardThree-right img{
    width: 500px;
}

.card1, .card2, .card3{
    display: flex;
    
}

.CreativeTeam{
    display: flex;
    flex-direction: column;
}

.CreativeTeamPortfolio{
    display: flex;
}

.portfolio_Image img{
    width:500px
}

.footer{
    background-color: #10181D;
    color: #fff;
}

.UpperInfo{
    display: flex;
    justify-content: space-between;
}

.socialLinks{
    display: flex;
}

.socialLinks img{
    width: 50px;
    border: solid 1px #fff;
    background-color: #6e818f;
    
    
}


.lowerInfo{
    display: flex;
    justify-content: space-around;
}

