@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url(./responsive.css);

*{
    padding: 0;
    margin: 0;
}

.introSection{
    background-color: #636C79;
    height: 700px;
}

.nav{
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menuItem{
    width: 400px;
    display: flex;
    text-align: right;
}

.menuList{
    margin: 0 -20px;
}

.menuList{
    width: 700px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.button, .Lets-talk{
    padding: 10px 15px;
    border: solid 0.0001em rgba(255, 255, 255, 0.247);
    background-color: #8BB7A2;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.effectiveDesignBtn{
    margin-top: 10px;
}

.introHeading{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.introInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IntrorightSection{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}    

.introDescription{
    margin-top: 10px;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    width: 500px;
}

.email-box{
    margin-top: 50px;
    width: 500px;
    height: 50px;
    background-color: #fff;
    
}

.emailInput{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.emailInput #email{
    width: 300px;
    border: none;
    height: 40px;
}

.emailInput #submit{
    height: 35px;
    width: 100px;
    background-color: #8BB7A2;
    border: none;
    cursor: pointer;
    color: #fff;
}


.IntroleftSection{
    margin-left: 100px;
    width: 600px;    
    height: 500px; 
    overflow: hidden;
}

.IntroleftSection img{
    width: 700px;
    height: 600px;
    padding: 0px;
    object-fit: cover;

}

.displayInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

}

.displayInfoHeading{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.displayInfoStats{
    width: 80%;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Monsterrsat', sans-serif;
    font-weight: 200;
}

.numericaldata{
    font-size: 40px;
    font-weight: 800;
}

.Projectdata{
    color: #636C79;
}

.displayInfoImage img{
    width: 1000px;
    
}

.moreInfo{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.moreInfoHead{
    width: 38%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #000;
}

.cardTwo-right{
    margin-left: 70px;
}

.card1, .card2, .card3 {
display: flex;
align-items: center;
}

.effectiveDesign, .marketingStrategy, .QuoteMarketing{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.effectiveDesignInfo, .marketingStrategyInfo, .QuoteMarketingInfo{
    font-family: 'Monsterrsat', sans-serif;
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #636C79;
}

.cardOne-right img{
    width: 500px;
    object-fit: ;
    
}

.cardTwo-left img{
    width: 500px;
}

.cardThree-right img{
    width: 500px;
}

.card1, .card2, .card3{
    display: flex;
    margin: 50px 150px;
}


.CreativeTeam{
    display: flex;
    flex-direction: column;
}

.CreativeTeamPortfolio{
    display: flex;
    
    justify-content: space-around;
}

.CreativeTeamHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 90px;
}


.CreativeTeamHead-leftSection{
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-right: 50px ;
 
}
.CreativeTeamHead-rightSection{
    font-family: 'Monsterrsat', sans-serif;
    width: 50%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #636C79;   
}



.portfolio_Image img{
    width:300px;
}

.portfolio_Description{
    width: 200px;
}

.portfolio_Name{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.portfolio_Description{
    width: 300px;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Monsterrsat', sans-serif;
    color: #636C79;  
    margin: 5px 0;
}

.Creativebtn{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


.footer{
    background-color: #10181D;
    color: #fff;
}

.UpperInfo{
    height: 150px;
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
    align-items: center;
}

.socialLinks{
    width: 350px;
    display: flex;
    justify-content: space-between;
    
    border-radius: 10px;
}

.iconClass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #282F34;
    border-radius: 50px;
    background-color: #282F34;

}

.socialLinks img{
    width: 18px;
    border-radius: 50px;
    background-color: #fff;
}

.line{
    width: 80%;
    margin: auto;
    
}

.lowerInfo{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center; 

}

.headings{
font-size: 17px;
font-family: 'Monsterrsat', sans-serif;
}

.internalData{
    font-size: 12px;
    font-family: 'Monsterrsat', sans-serif;
    margin: 10px 0;
    color: #858e99;
}
